.back-home {
    margin-top: 20px;
    text-align: center;
  }
  
  .back-home button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #264575;
    color: #fff;
    border: 2px solid #264575; /* Add border */
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; }
  
  .back-home button:hover {
    background-color: #5e8bce;
    border-color: #5e8bce; 
  }
  
  .contact-container {
    font-size: 20px;
  }


  .contact-details {
    font-size: 18px;
    margin: 70px;
    font-style: italic;
  }