

  .footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .footer-text {
    font-size: 1rem;
  }
  
  .footer-link {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer-link:hover {
    color: #f8f9fa;
    text-decoration: underline;
  }
