body {
  background-color: rgb(223, 202, 221);
}

.logo-img {
  width: 160%; 
  max-width: 650px; 
  height: auto;
  margin-left: 430px;
  margin-top: 100px;
}

.home-content{
  margin-top: 100px;
  margin-left: 1px;
  margin-right: 2px;
}

.btn-primary {
  background-color: #264575;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 60px;
  font-size: 15px;
  border-radius: 10px;
}

.btn-primary:hover,
.btn-success:hover {
  background-color: #5e8bce;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline;
  margin-right: 10px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.content {
  padding-left: 10px;
  text-align: left;
}

.p1,
.p2 {
  padding-left: 60px;
  padding-right: 3px;
  font-size: 19px;
  margin-top: 30px;
  line-height: 1;
  text-align: justify;
}
