
.login-section {
  padding: 100px 0;
  background-color: #d4b7cf;
}



.login-heading {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #7d4b94;
  animation: slideInDown 1s ease-out;
}

.loin-text {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 40px;
  animation: fadeIn 1s ease-out;
}

.login-img {
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
  animation: scaleUp 1s ease-out;
}

.about-img:hover {
  transform: scale(1.1);
}

@keyframes slideInDown {
  from {
      transform: translateY(-100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes scaleUp {
  from {
      transform: scale(0.5);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}

