
.signup-page {
    max-width: 300px;
    margin: 0 auto;
  }
  
  .signup-form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 180%;
    max-width: 400px;
    margin-bottom: 60%;
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-form input {
    margin-bottom: 10px;
    padding: 8px;
  }
  
  .signup-form button {
    background-color: #264575;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .signup-form button:hover {
    background-color: #5e8bce;
  }
  
  .signup-form a {
    color: #61dafb;
    text-decoration: none;
  }
  
  .signup-form a:hover {
    text-decoration: underline;
  }
  